body {
    background-image: url("../pics/coffee_bg.jpg");
    width:97vw;
    height: 200vh;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 84px;
}