html, body, div, header, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}

.page {
margin-top: 20px;
margin: 20px auto 0;
padding: 10px 0 0;
/* background: url(../pics/coffee_bg2.jpg) no-repeat; */
width: 900px;
position: relative;
}

header {
    float: right;
    position: relative;
    width: 800px;
}

main {
    position: relative;
    padding-top: 70px;
    padding: 50px 50px 0;
    width: 800px;
    min-height: 400px;
}

#top-bar {
    /* background: darkgray no-repeat scroll 0% 0%; */
}
#top-bar {
    height: 80px;
}

.social-container {
    position: relative;
    left: 744px;
    top: 28px;
    font-size: 24px;
    letter-spacing: 4px;
    display: inline-block;
}

.search-container {
    float: right;
}

header #top-bar {
    height: 50px;
}

header .navigation {
    /* margin-left: 20px; */
    /* left: auto;
    position: absolute;
    right: 0; */
    float: right;
    width: auto;
}
/* .navigation ul li .active {
    color: #B53471;
} */
/* nav ul {
    list-style-type: none; 
     padding-right: 40px;
} */

nav ul li {
    display: inline-block;
    background: transparent;
    padding-right: 8px;
}

nav a {
    font-family: 'IBM Plex Mono', monospace;
    /* font-size: 15px; */
    /* padding: 4px 10px 6px 10px; */
    color: black;
    font-style: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:active {
    color: rgb(255, 188, 231);
}

#thispage {
    color: rgb(253, 131, 210);
}
li a, .dropbtn {
    display: inline-block;
    text-align: left;
    padding: 10px 14px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(214, 211, 211, 0.226);
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: rgba(214, 211, 211, 0.226);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* .dropdown {
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
     padding: 4px 10px 6px 10px; 
     color: black;
    font-style: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none; 
} */

#content-container {
    width: 760px;
    font-family: 'IBM Plex Sans', monospace;

    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    padding: 0 0 10px 16px;
    margin: 0;
    position: relative;
}

.content1 {
float: left;
width: 40%;
}

.content2 {
    background: url(../pics/nathan-dumlao-463043-unsplash.jpg) no-repeat;
    background-size: contain;
    width: 400px;
    height: 600px;
    float: right;
    box-shadow: 20px 10px 100px 10px rgba(0, 0, 0, 0.212);
    border-radius: 4px;
}
/* 
main .content2 #content-image1 {
    background: url(../pics/nathan-dumlao-463043-unsplash.jpg) no-repeat;
} */