html, body, div, header, main, footer, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}

.page {
margin-top: 20px;
margin: 20px auto 0;
padding: 10px 0 0;
/* background: url(../pics/coffee_bg2.jpg) no-repeat; */
width: 900px;
position: relative;
}

header {
    float: right;
    position: relative;
    width: 800px;
}

main {
    position: relative;
    padding-top: 70px;
    padding: 50px 50px 0;
    width: 800px;
    min-height: 640px;
}

h1 {
    text-transform: capitalize;
    font-family: IBM Plex Serif, monospace;
    font-size: 64px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-style: italic;
}

#top-bar {
    /* background: darkgray no-repeat scroll 0% 0%; */
}
#top-bar {
    height: 80px;
}

.social-container {
    position: relative;
    left: 744px;
    top: 28px;
    font-size: 24px;
    letter-spacing: 4px;
    display: inline-block;
}

.search-container {
    float: right;
}

header #top-bar {
    height: 50px;
}

header .navigation {
    /* margin-left: 20px; */
    /* left: auto;
    position: absolute;
    right: 0; */
    float: left;
    width: auto;
}
/* .navigation ul li .active {
    color: #B53471;
} */
/* nav ul {
    list-style-type: none;
     padding-right: 40px;
} */
ul {
    /* float: left; */
}

nav ul li {
    display: inline-block;
    background: transparent;
    /* padding-right: -80px; */
}

nav a {
    font-family: 'IBM Plex Mono', monospace;
    /* font-size: 15px; */
    /* padding: 4px 10px 6px 10px; */
    color: black;
    font-style: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:active {
    color: rgb(255, 188, 231);
}

#thispage {
    color: rgb(253, 131, 210);
}

#thispage2 {
    color: rgb(202, 33, 143);
}

li a, .dropbtn {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(214, 211, 211, 0.226);
    /* box-shadow: 4px 8px 10px 0px rgba(0,0,0,0.1); */

}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 4px 8px 100px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: rgba(214, 211, 211, 0.226);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* .dropdown {
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
     padding: 4px 10px 6px 10px;
     color: black;
    font-style: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
} */

#content-container {
    width: 760px;
    font-family: 'IBM Plex Sans', monospace;

    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    padding: 0 0 10px 16px;
    margin: 0;
    position: relative;
}

.content1 {
float: left;
width: 46%;
}
.text-contact1 {
    float: left;
    width: 46%;
    }

.content2 {
    background: url(../pics/nathan-dumlao-463043-unsplash.jpg) no-repeat;
    background-size: contain;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    right: -80px;
    box-shadow: 20px 10px 100px 10px rgba(0, 0, 0, 0.212);
    border-radius: 50%;
}
.image3 {
    background: url(../pics/lee-campbell-500684-unsplash.jpg) no-repeat;
    background-size: contain;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    right: -80px;
    box-shadow: 20px 10px 100px 10px rgba(0, 0, 0, 0.32);
    border-radius: 50%;
}
/*
main .content2 #content-image1 {
    background: url(../pics/nathan-dumlao-463043-unsplash.jpg) no-repeat;
} */

/* .text-content-store {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h1 #content-container {
    text-align: center;
}

h3 #content-container {
    text-align: center;
    padding: 10px 100px 100px 100px;
} */

#store-text {
    position: relative;
    font-family: Cabin, monospace;
    text-align: center;
    font-style: italic;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 5em;
}

#store-text-title {
    text-align: center;
}

#store-text-subtitle {
    text-align: center;
    /* font-family: Cabin, monospace; */
    padding-bottom: 0.5em;
}

.products {

}

.product-card {
    margin-bottom: 2em;
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    /* box-shadow: 25px 20px 100px 10px rgba(0, 0, 0, 0.096); */
    box-shadow: 0 8px 20px 0 hsla(0, 0%, 0%, 0.2)
}

.product-info {
    float: right;
    padding: 0.5em;
}

.product-info h5 {
    font-family: Cabin, monospace;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.product-info h6 {
    font-family: Cabin, monospace;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.product-info p {
    font-size: 90%;
}
@media screen and (min-width: 40em) {  
    .products {
      margin-top: -1em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .product-card {
      margin-bottom: 1em;
      display: flex;
      flex: 0 1 calc(40% - 0.5em);
      width: calc(50% - 1em);
    }
  }

  #weight {
      color: rgba(0, 0, 0, 0.411);
      font-size: 12px;
  }

  #price {
      font-size: 18px;
      font-weight: 100;
  }
  
  /* @media screen and (min-width: 60em) {
    .products {
      margin-top: inherit;
    }
    
    .product-card {
      margin-bottom: 2em;
      display: flex;
      flex: 0 1 calc(90% - 0.5em);
      width: calc(33% - 1em);
    }
  } */

footer {
    font-family: IBM Plex Mono, monospace;
    font-size: 70%;
    text-align: center;
    letter-spacing: 7px;
    padding: 10px 5px 20px;
    /* padding-top: 250px; */
    width: 900px;
    position: relative;
}